<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static' , filename = 'css/bootstrap.min.css')}}">
</head>

<body>
    <div class="container col-6">
        <h1>Todo App</h1>
        <br>
        <h3 class="text-center">Add Todo</h3>

        <form action="/add" method="POST">
            <label for="" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="">

            <label for="" class="form-label">Description</label>
            <input type="text" class="form-control" name="desc" id="">
            <br>
            <button class="btn btn-primary" value="Add" type="submit">Add Todo</button>
            <br>
        </form>

        <br><br>

        <table class="table">
            <thead>
                <tr>
                    <th>S.NO</th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{d._id}}</td>
                    <td>{{d.title}}</td>
                    <td>{{d.desc}}</td>
                    <td>
                        <a href="/delete/{{d._id}}" class="btn btn-danger">delete</a>
                        <a href="" class="btn btn-primary">update</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>